.total-layout {
    height: 35vh;;
}
.total-counter {
    font-size: 8rem;
    color: white;
}
.tool-layout {
    /* background-color: blue; */
    padding: 5px;
    height: 7vh;
}
.plus-layout {
    /* background-color: blueviolet; */
    padding: 15px;
    height: 35vh;
}
.height-match-parent {
    height: 100%;
}
.center-text {
    text-align: center;
}
.margin-auto {
    margin: auto;
}
.blue-gradient {
    background: linear-gradient(40deg,#45cafc,#303f9f) !important;
}